<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="car" class="com.kishan.beaninheritence.Car">
<property name="id" value="1"/>
<property name="model" value="swift"/>
<property name="manufacturer" value="Maruti Suzuki"/>
<property name="color" value="red"/>
<property name="fuelType" value="petrol"/>
<property name="price" value="45645556"/>
</bean>

<bean id ="car1" class="com.kishan.beaninheritence.Car" parent="car">
<property name="id" value="2"/>
<property name="color" value="White"/>
</bean>

<bean id ="car2" class="com.kishan.beaninheritence.Car" parent="car">
<property name="id" value="2"/>
<property name="color" value="Black"/>
</bean>

</beans>