<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

 
<bean id ="btech" class="com.kishan.collectionmerging.Course">
<property name="subjects">
 <list value-type="java.lang.String">
  <value>C</value>
  <value>D.M.S</value>
 </list>
 
</property>
</bean>
 <bean id ="btech1"  class="com.kishan.collectionmerging.Course" parent="btech">
 <property name="subjects">
  <list value-type="java.lang.String" merge="true">
  <value>RT</value>
  <value>E.D.C</value>
  </list>
 </property>
 
 </bean>
</beans>