<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id ="person" class="com.kishan.PandCnamespace.Person"
p:name="Dhananjaya Samanta Singhar"
p:address-ref="address"/>
<bean id ="address" class="com.kishan.PandCnamespace.Address"
c:addressLine1="505"
c:addressLine2="MyTrivanam"
c:city="Hyderabad"
c:state="Telengana"
c:zip="500038"
c:country="India"
/>
</beans>